* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(50, 50, 50);
    font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 6vh;
}

.calculator {
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 50%;
    transform: translate(-50%);
    width: 74.5vh;
    height: 100vh;
}

.square {
    margin-top: 1vh;
    margin-left: 1vh;
    margin-bottom: 2.5vh;
    width: 70.5vh;
    height: 15.2vh;
    border: 1vh solid #FF00FF;
}

#calc {
    color: rgb(255, 255, 255);
    font-size: 6.5vh;
    margin-top: 0.5vh;
    margin-left: 1vh;
    width: 68.5vh;
    text-align: right;
}

#rest {
    color: rgba(255, 255, 255, 0.75);
    font-size: 4.5vh;
    margin-top: 0px;
    margin-left: 1vh;
    width: 68.5vh;
    text-align: right;
}

button {
    width: 11vh;
    height: 11vh;
    background-color: transparent;
    border-radius: 100%;
    margin-left: 5vh;
    margin-bottom: 3vh;
    font-size: 6vh;
    border-width: 1vh;
    cursor: pointer;
}

table {
    margin-left: 3vh;
}

.button-nub {
    color: #00FFFF;
    border-color: #00FFFF;
}

.button-ope {
    color: #00FF00;
    border-color: #00FF00;
}

.button-del {
    color: #FFA000;
    border-color: #FFA000;
}

.button-git {
    color: #FFFF00;
    border-color: #FFFF00;
}
